<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Record System</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/utility.css">
   
</head>
<body>
    <div class="main-container">
        <div class="userinfo">
            <div class="info">
                <h1 ><%= studentInfo.firstname.charAt(0).toUpperCase() + studentInfo.firstname.slice(1)+ " " + studentInfo.lastname.charAt(0).toUpperCase() + studentInfo.lastname.slice(1)%></h1>
                <h3 >Class: <%= studentInfo.class %></h3>
                <h3 > <%= studentInfo.contactnum %></h3>
                <h3 >Roll No.: <%= studentInfo.rollnum %></h3>
                <h3 ><%= studentInfo.schoolname.charAt(0).toUpperCase() + studentInfo.schoolname.slice(1) %></h3>
                <form action="/upload-student-profile" method="post" enctype="multipart/form-data">
                    <label for="profileInput" >Upload Profile Image</label>
                    <input  class="disp-none" type="file" name="userProfile" id="profileInput" >
                     <button type="submit" id="changePfp" class="disp-none upload-btn ">Upload</button>
                </form>
                <a href="/student/logout">Logout</a>
                <script src="/scripts/pfp-upload.js"></script>
            </div>
            <div class="img-cont">
               <img src="/images/userimg.png" alt="">
            </div>
        </div>
        <div class="options">
            <div class="opt-cards card">

                <img src="/images/see atendence.png" alt="see attendence">
                <button class="opt-btn"><span>View</span> <span>Attendence</span></button>
            </div>
            <div class="opt-cards card">
                <img src="/images/give homework.png" alt="see homework">
                <button class="opt-btn"><span>View</span> <span>Homework</span></button>
            </div>
            <div class="opt-cards card">
                <img src="/images/give test score.png" alt="view testscore">
                <button class="opt-btn"><span>View</span> <span>Testscores</span></button>
            </div>
        </div>
    </div>
</body>
</html>